<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sherlock</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  </head>
  <body class="d-flex flex-column h-100">

    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Sherlock and the valid string</a>
    </nav>